<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <script src="https://kit.fontawesome.com/29ae38662b.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- navigation bar (navbar)  -->
{% include 'blog/navbar.html' %}

<div class="container my-3">
    <div class="row">
        <div class="col-12" id="main-area">
            <!-- Blog Post -->
            {% block main_area %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- Footer -->
{% include 'blog/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>

<!-- on key up 사용자가 키보드를 눌렀다가 때는 순간 값을 인식함
input 안에서 속성을 on key up 을 주시고
p태그에서 on key up 반영하려면 get Element class 어쩌고 해야함
현재시간 눌렀을 때 얼랏창 나와서 현재시간 알려줘요  -->


<!--post_list(블로그 리스트 기본형)-->
<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Blog</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Blog</h1>-->
<!--&lt;!&ndash;Listview로 만든 클래스의 모델 호출 방법&ndash;&gt;-->
<!--&lt;!&ndash;  object_list 명령어 혹은 post(모델명)_list  &ndash;&gt;-->
<!--{% for p in post_list %}-->
<!--    <hr/>-->
<!--    <h2><a href="{{p.get_absolute_url}}">{{p.title}}</a></h2>-->
<!--    <h4>{{p.created_at}}</h4>-->
<!--    <p>{{p.content}}</p>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->

<!--링크 기본 구조-->
<!--href = "/" : 메인 페이지 (기본 도메인)-->
<!--href = "/blog" : blog 페이지 -->
<!--href = "/about_me" : about_me 페이지-->